{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}{% endblock %}</title>
        <link href='{% static "account/css/base_style.css" %}' type="text/css" rel="stylesheet">
        <script src='{% static "htmx/htmx.min.js" %}' defer></script>
    </head>
    <body hx-header='{"X-CSRF-Token": "{{ csrf_token }}"}'>
        <header></header>
        <main>
            {% block content %}

            {% endblock %}
        </main>
        <footer></footer>
    </body>
</html>